<h1>Selecione o seu sistema:</h1>
<%= form_tag(selecao_path ,:method => :get) do %>
    <%= select_tag :sistema, options_for_select([["Todos", 1],["D&D 5e", 2],["UESRPG", 3]]) %>
    <%= submit_tag "Filtrar" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nível</th>
      <th>Classe</th>
      <th>Raça</th>
      <th>Sistema</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fichas.order('name DESC').each do |aviso| %>
      <tr>
        <td><%= aviso.name %></td>
        <td><%= aviso.level %></td>
        <td><%= aviso.classe %></td>
        <td><%= aviso.race %></td>
        <td><% if aviso.sistema==2 %>
                <%= 'D&D 5e' %>
            <% else %>
                <%= 'UESRPG' %>
            <% end %>
        </td>
        <td>
            <%= link_to "Visualizar", fichas_path(:param1 => aviso.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4>Deseja criar uma nova ficha?</h4>
<br>
<% if @current_user.nil?%>
    Apenas usuários cadastrados podem criar fichas
    <br>
    <br>
<%else %>
    <%= link_to "Criar nova ficha", selecao_novaficha_path %> |
    
<%end %>
<%= link_to "Voltar", root_path %>
<!--COLOCAR CONDIÇÃO DE QUE APENAS USUÁRIO PODE CRIAR NOVA FICHA-->
