<h1>Logins</h1>
<%= form_for :loggin, url: loggin_path do |form| %>

    <div class="field">
        <%= form.label :user %>
        <%= form.text_field :name, autofocus: true %>
    </div>

    <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
    
    <%= form.submit "Log in" %>
  </div>
<p>New user? <%= link_to "Sign up now!", new_user_path %></p>
<% end %>
